.card {
    font-family: arial;
    text-align: left;
    font-size: 20px;
    color: black;
    background-color: white;
}

.card.nightMode {
    font-family: arial;
    text-align: left;
    font-size: 20px;
    color: white;
    background-color: #303030;
} /* 注意：nightMode 大小写需要完全对应*/


/*定义的样式*/
.source {
    text-align: center;
}
.win .source {
    text-align: center;
} 
.word {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}


/*音频按钮设置（用emoji替换丑丑的图标）*/
.replay-button svg { 
    display:none; 
}
.replay-button:before { 
content: '🔊'; 
}


/*优化中英文混排的行距（暂时作废）
.improve-layout {
    padding-top: 150%;
    padding-bottom: 150%;
}*/


/*词性的样式*/
.noun {
    background-color: #1abc9c;
}
.verb {
    background-color: #3498db;
}
.adjective {
    background-color: #9b59b6;
}
.adverb {
    background-color: #f1c40f;
}
.other {
    background-color: #e67e22;
}


/*分割线的样式*/
.divideLine {
    font-size: 15px;
    color: #808080;
    background-color: lightgray;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
.nightMode .divideLine {
    font-size: 15px;
    color: darkgray;
    background-color: #282828;
    padding: 5px;
    border-bottom: 1px solid #282828;
}


/*外部链接的样式*/
.link {
    font-size: 15px;
    color: #808080;
    padding: 5px;
}
.nightMode .link {
    font-size: 15px;
    color: darkgray;
    padding: 5px;
}